<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Email Module</display-name>
  <servlet>
    <servlet-name>SendEmailServlet</servlet-name>
    <servlet-class>com.email.SendEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmailServlet</servlet-name>
    <url-pattern>/sendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReceiveEmailServlet</servlet-name>
    <servlet-class>com.email.ReceiveEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveEmailServlet</servlet-name>
    <url-pattern>/receiveEmail</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.email.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/addempservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DraftServlet</servlet-name>
    <servlet-class>com.email.DraftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftServlet</servlet-name>
    <url-pattern>/drafts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveDraftServlet</servlet-name>
    <servlet-class>com.email.SaveDraftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveDraftServlet</servlet-name>
    <url-pattern>/saveDraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SentServlet</servlet-name>
    <servlet-class>com.email.SentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentServlet</servlet-name>
    <url-pattern>/sent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addempservlet</display-name>
    <servlet-name>addempservlet</servlet-name>
    <servlet-class>com.email.addempservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addempservlet</servlet-name>
    <url-pattern>/addempservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editempservlet</display-name>
    <servlet-name>Editempservlet</servlet-name>
    <servlet-class>com.email.Editempservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editempservlet</servlet-name>
    <url-pattern>/Editempservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteempservlet</display-name>
    <servlet-name>deleteempservlet</servlet-name>
    <servlet-class>com.email.deleteempservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteempservlet</servlet-name>
    <url-pattern>/deleteempservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerservlet</display-name>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTaskCategoryServlet</servlet-name>
    <servlet-class>com.email.UpdateTaskCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskCategoryServlet</servlet-name>
    <url-pattern>/UpdateTaskCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveTaskServlet</display-name>
    <servlet-name>MoveTaskServlet</servlet-name>
    <servlet-class>com.email.MoveTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveTaskServlet</servlet-name>
    <url-pattern>/MoveTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskServlet</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.email.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddIntegrationServlet</display-name>
    <servlet-name>AddIntegrationServlet</servlet-name>
    <servlet-class>com.email.AddIntegrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIntegrationServlet</servlet-name>
    <url-pattern>/AddIntegrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteIntegrationServlet</display-name>
    <servlet-name>DeleteIntegrationServlet</servlet-name>
    <servlet-class>com.email.DeleteIntegrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteIntegrationServlet</servlet-name>
    <url-pattern>/DeleteIntegrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RenewIntegrationServlet</display-name>
    <servlet-name>RenewIntegrationServlet</servlet-name>
    <servlet-class>com.email.RenewIntegrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenewIntegrationServlet</servlet-name>
    <url-pattern>/RenewIntegrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addorgservlet</display-name>
    <servlet-name>addorgservlet</servlet-name>
    <servlet-class>com.email.addorgservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addorgservlet</servlet-name>
    <url-pattern>/addorgservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillServlet</display-name>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>com.email.BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/BillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoCallWebSocketServer</display-name>
    <servlet-name>VideoCallWebSocketServer</servlet-name>
    <servlet-class>com.email.VideoCallWebSocketServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoCallWebSocketServer</servlet-name>
    <url-pattern>/VideoCallWebSocketServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendMeetingLink</display-name>
    <servlet-name>sendMeetingLink</servlet-name>
    <servlet-class>com.email.sendMeetingLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMeetingLink</servlet-name>
    <url-pattern>/sendMeetingLink</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert_tester</display-name>
    <servlet-name>Insert_tester</servlet-name>
    <servlet-class>com.email.Insert_tester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_tester</servlet-name>
    <url-pattern>/Insert_tester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deliveredproduct</display-name>
    <servlet-name>deliveredproduct</servlet-name>
    <servlet-class>com.email.deliveredproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deliveredproduct</servlet-name>
    <url-pattern>/deliveredproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInstallmentServlet</display-name>
    <servlet-name>UpdateInstallmentServlet</servlet-name>
    <servlet-class>com.email.UpdateInstallmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInstallmentServlet</servlet-name>
    <url-pattern>/UpdateInstallmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadServlet</display-name>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>uploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleMeetingServlet</display-name>
    <servlet-name>ScheduleMeetingServlet</servlet-name>
    <servlet-class>com.email.ScheduleMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleMeetingServlet</servlet-name>
    <url-pattern>/ScheduleMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkMeetingStatus</display-name>
    <servlet-name>checkMeetingStatus</servlet-name>
    <servlet-class>com.email.checkMeetingStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkMeetingStatus</servlet-name>
    <url-pattern>/checkMeetingStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.email.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleOAuthServlet</display-name>
    <servlet-name>GoogleOAuthServlet</servlet-name>
    <servlet-class>com.email.GoogleOAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleOAuthServlet</servlet-name>
    <url-pattern>/GoogleOAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUserServlet</display-name>
    <servlet-name>SaveUserServlet</servlet-name>
    <servlet-class>com.email.SaveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserServlet</servlet-name>
    <url-pattern>/SaveUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendOTPServlet</display-name>
    <servlet-name>SendOTPServlet</servlet-name>
    <servlet-class>com.email.SendOTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendOTPServlet</servlet-name>
    <url-pattern>/SendOTPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOtpServlet</display-name>
    <servlet-name>VerifyOtpServlet</servlet-name>
    <servlet-class>com.email.VerifyOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOtpServlet</servlet-name>
    <url-pattern>/VerifyOtpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>com.email.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OAuthServlet</display-name>
    <servlet-name>OAuthServlet</servlet-name>
    <servlet-class>com.email.OAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuthServlet</servlet-name>
    <url-pattern>/OAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.email.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleAuthServlet</display-name>
    <servlet-name>GoogleAuthServlet</servlet-name>
    <servlet-class>com.email.GoogleAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleAuthServlet</servlet-name>
    <url-pattern>/GoogleAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.email.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCompanyServlet</display-name>
    <servlet-name>RegisterCompanyServlet</servlet-name>
    <servlet-class>com.email.RegisterCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCompanyServlet</servlet-name>
    <url-pattern>/RegisterCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminloginservlet</display-name>
    <servlet-name>adminloginservlet</servlet-name>
    <servlet-class>com.email.adminloginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminloginservlet</servlet-name>
    <url-pattern>/adminloginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginServlet</display-name>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>com.email.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>empLeadServlet</display-name>
    <servlet-name>empLeadServlet</servlet-name>
    <servlet-class>com.email.empLeadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empLeadServlet</servlet-name>
    <url-pattern>/empLeadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerloginservlet</display-name>
    <servlet-name>managerloginservlet</servlet-name>
    <servlet-class>com.email.managerloginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerloginservlet</servlet-name>
    <url-pattern>/managerloginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addinternservlet</display-name>
    <servlet-name>addinternservlet</servlet-name>
    <servlet-class>com.email.addinternservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addinternservlet</servlet-name>
    <url-pattern>/addinternservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteinternservlet</display-name>
    <servlet-name>deleteinternservlet</servlet-name>
    <servlet-class>com.email.deleteinternservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteinternservlet</servlet-name>
    <url-pattern>/deleteinternservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeesServlet</display-name>
    <servlet-name>GetEmployeesServlet</servlet-name>
    <servlet-class>com.email.GetEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeesServlet</servlet-name>
    <url-pattern>/GetEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditinternServlet</display-name>
    <servlet-name>EditinternServlet</servlet-name>
    <servlet-class>com.email.EditinternServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditinternServlet</servlet-name>
    <url-pattern>/EditinternServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPasswordServlet</display-name>
    <servlet-name>SetPasswordServlet</servlet-name>
    <servlet-class>com.email.SetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPasswordServlet</servlet-name>
    <url-pattern>/SetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>com.email.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendChatMessageServlet</display-name>
    <servlet-name>SendChatMessageServlet</servlet-name>
    <servlet-class>com.email.SendChatMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendChatMessageServlet</servlet-name>
    <url-pattern>/SendChatMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkEmployeeLimitServlet</display-name>
    <servlet-name>checkEmployeeLimitServlet</servlet-name>
    <servlet-class>com.email.checkEmployeeLimitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkEmployeeLimitServlet</servlet-name>
    <url-pattern>/checkEmployeeLimitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditprojectBYmanager</display-name>
    <servlet-name>EditprojectBYmanager</servlet-name>
    <servlet-class>com.email.EditprojectBYmanager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditprojectBYmanager</servlet-name>
    <url-pattern>/EditprojectBYmanager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLeadDetails</display-name>
    <servlet-name>GetLeadDetails</servlet-name>
    <servlet-class>com.email.GetLeadDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLeadDetails</servlet-name>
    <url-pattern>/GetLeadDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeBasicLogin</display-name>
    <servlet-name>employeeBasicLogin</servlet-name>
    <servlet-class>com.email.employeeBasicLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeBasicLogin</servlet-name>
    <url-pattern>/employeeBasicLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.email.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDailyReportServlet</display-name>
    <servlet-name>GetDailyReportServlet</servlet-name>
    <servlet-class>com.email.GetDailyReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDailyReportServlet</servlet-name>
    <url-pattern>/GetDailyReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DailyReportServlet</display-name>
    <servlet-name>DailyReportServlet</servlet-name>
    <servlet-class>com.email.DailyReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyReportServlet</servlet-name>
    <url-pattern>/DailyReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getQuoteDetails</display-name>
    <servlet-name>getQuoteDetails</servlet-name>
    <servlet-class>com.email.getQuoteDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getQuoteDetails</servlet-name>
    <url-pattern>/getQuoteDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>generateQuotationPDF</display-name>
    <servlet-name>generateQuotationPDF</servlet-name>
    <servlet-class>com.email.generateQuotationPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generateQuotationPDF</servlet-name>
    <url-pattern>/generateQuotationPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getFinanceDetails</display-name>
    <servlet-name>getFinanceDetails</servlet-name>
    <servlet-class>com.email.getFinanceDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFinanceDetails</servlet-name>
    <url-pattern>/getFinanceDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>negotiateQuoteServlet</display-name>
    <servlet-name>negotiateQuoteServlet</servlet-name>
    <servlet-class>negotiateQuoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>negotiateQuoteServlet</servlet-name>
    <url-pattern>/negotiateQuoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckQuoteServlet</display-name>
    <servlet-name>CheckQuoteServlet</servlet-name>
    <servlet-class>com.email.CheckQuoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckQuoteServlet</servlet-name>
    <url-pattern>/CheckQuoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQuoteDetailsServlet</display-name>
    <servlet-name>GetQuoteDetailsServlet</servlet-name>
    <servlet-class>com.email.GetQuoteDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuoteDetailsServlet</servlet-name>
    <url-pattern>/GetQuoteDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDescription</display-name>
    <servlet-name>deleteDescription</servlet-name>
    <servlet-class>com.email.deleteDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDescription</servlet-name>
    <url-pattern>/deleteDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskServlet</display-name>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>com.email.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentWebhook</display-name>
    <servlet-name>paymentWebhook</servlet-name>
    <servlet-class>com.email.paymentWebhook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentWebhook</servlet-name>
    <url-pattern>/paymentWebhook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentWebhookServlet</display-name>
    <servlet-name>PaymentWebhookServlet</servlet-name>
    <servlet-class>com.email.PaymentWebhookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentWebhookServlet</servlet-name>
    <url-pattern>/PaymentWebhookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OAuthCallbackServlet</display-name>
    <servlet-name>OAuthCallbackServlet</servlet-name>
    <servlet-class>com.email.OAuthCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuthCallbackServlet</servlet-name>
    <url-pattern>/OAuthCallbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.email.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyPaymentServlet</display-name>
    <servlet-name>VerifyPaymentServlet</servlet-name>
    <servlet-class>com.email.VerifyPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyPaymentServlet</servlet-name>
    <url-pattern>/VerifyPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>softDeleteLeadServlet</display-name>
    <servlet-name>softDeleteLeadServlet</servlet-name>
    <servlet-class>com.email.softDeleteLeadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>softDeleteLeadServlet</servlet-name>
    <url-pattern>/softDeleteLeadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>restoreLeadServlet</display-name>
    <servlet-name>restoreLeadServlet</servlet-name>
    <servlet-class>com.email.restoreLeadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>restoreLeadServlet</servlet-name>
    <url-pattern>/restoreLeadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>softDeleteQuoteServlet</display-name>
    <servlet-name>softDeleteQuoteServlet</servlet-name>
    <servlet-class>com.email.softDeleteQuoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>softDeleteQuoteServlet</servlet-name>
    <url-pattern>/softDeleteQuoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>restoreQuoteServlet</display-name>
    <servlet-name>restoreQuoteServlet</servlet-name>
    <servlet-class>com.email.restoreQuoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>restoreQuoteServlet</servlet-name>
    <url-pattern>/restoreQuoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchOngoingProjectsServlet</display-name>
    <servlet-name>FetchOngoingProjectsServlet</servlet-name>
    <servlet-class>com.email.FetchOngoingProjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchOngoingProjectsServlet</servlet-name>
    <url-pattern>/FetchOngoingProjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchWaitingProjectsServlet</display-name>
    <servlet-name>FetchWaitingProjectsServlet</servlet-name>
    <servlet-class>com.email.FetchWaitingProjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchWaitingProjectsServlet</servlet-name>
    <url-pattern>/FetchWaitingProjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEventServletNew</display-name>
    <servlet-name>UpdateEventServletNew</servlet-name>
    <servlet-class>com.email.UpdateEventServletNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventServletNew</servlet-name>
    <url-pattern>/UpdateEventServletNew</url-pattern>
  </servlet-mapping>
</web-app>